.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0% 10%;
}

.header ul {
  display: flex;
  align-items: baseline;
  list-style: none;
}

.header li {
  margin-left: 2rem;
}

.header a {
  text-decoration: none;
}
.header a:hover,
.header a:active,
.header a.active {
  color: white;
}

.logo {
  font-size: 3rem;
  font-weight: 800;
}
