.form {
  padding: 1.5rem;
}

.control {
  margin-bottom: 0.25rem;
}

.control label {
  display: block;
  font-weight: 800;
  margin-bottom: 0.5rem;
}

.control input,
.control textarea {
  width: 100%;
  display: block;
  font: inherit;
  border-radius: 4px;
  border: 1px solid rgb(150, 145, 145);
  padding: 0.5rem;
}

.actions {
  margin-top: 0.5rem;
  text-align: right;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: #1d2add;
  color: ivory;
  padding: 0.5rem 1.5rem;
  border: 1px solid #340077;
  border-radius: 8px;
  font-weight: bold;
}

.actions button:hover,
.actions button:active {
  background-color: #134dcc;
  border-color: #210fc4;
}
