.project {
  padding: 0.5rem;
  margin: 0.5rem;
  background-color: rgba(169, 196, 196, 0.4);
  text-align: center;
}

.project button {
  font: inherit;
  padding: 0.5rem 1.5rem;
  margin-left: 1rem;
  margin-right: auto;
  border: 1px solid #117903;
  color: white;
  background: #147042;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
  cursor: pointer;
}

.project button:focus {
  outline: none;
}

.project button:hover,
.project button:active {
  background: #10c580;
  border-color: #0eac6f;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.26);
}

.git button {
  border: 1px solid #141414;
  color: white;
  background: rgb(91, 94, 94);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.26);
  cursor: pointer;
}

.git button:hover,
.git button:active {
  background: #929292;
  border-color: #cee0d9;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.26);
}
